[Unit]
Description=Literature Clock Flask App
After=network.target

[Service]
User=dananjaya
Group=dananjaya
WorkingDirectory=/home/dananjaya/Clock
ExecStart=/home/dananjaya/Clock/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
